/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.11.2018, 0:55:06
    Author     : Игорь
*/

body {
    text-align: center;
    font-size: 1em;
    background-color: #00ddff;
    font-family: Helvetica, sans-serif;
}

h1 {
    margin-top: 20px;
}

.rovs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1%;
    min-height: 30px;
}

form {    
    background-color: #ffffff;
    margin: 0 12%;
    border-radius: 5px;
    padding: 10px 0; 
}

.left {    
    text-align: right;
    width: 45%;
    vertical-align: top; 
    padding-right: 2%;
}

.right {    
    text-align: left;
    width: 45%;      
}
option {
    text-align: left;
}

#submit {    
    height: 35px;    
    min-width: 120px;
    font-size: 1.1em;
    text-align: center;
}

@media (max-width: 833px) {
    
}


